<%- include('partials/header') %>
<div class="row mt-5">
    <div class="col-lg-5 mx-auto">
        <div class="card shadow">
            <div class="card-header">
                <h2 class="fw-bold text-secondary">Reset Password</h2>
            </div>
            <div class="card-body p-5">
                <form action="#" method="post">
                    <div class="mb-3">
                        <label for="email">E-Mail</label>
                        <input type="email", name="email", id="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password">New Password</label>
                        <input type="new_password" name="new_password" id="new_password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_new_password">Confirm New Password</label>
                        <input type="confirm_new_password" name="confirm_new_password" id="confirm_new_password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                    </div>
                    <div class="text-center">
                        <p>Don't have an account? <a href="/register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>